*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Inika';
    font-style: normal;
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    max-width: 100%;
}

button {
    cursor: pointer;
}

.containerr {
    max-width: 1222px;
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Start Header css */
.header-container {
    background-color: #EDF2EC;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header-wrapper {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 42px auto;
    width: 1220px;
}

ul {
    margin: 0;
    padding: 0;
}

.header-pic {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.header-link,
.nav-link {
    text-decoration: none;
    color: #010201;
}

.nav-link.spl-link {
    color: #E06733;
}

.nav-link:hover {
    opacity: 0.75;
}

.nav-link:active {
    color: #E06733;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
}

.nav-item {
    margin-right: 46px;
    list-style: none;
    top: 42px;
}

.nav-item:last-child {
    margin-right: 0;
}

/* End Header css */



/* Start main css */
.section-home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #EDF2EC;
}


.home-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 62px auto;
}

.home-container img {
    width: 50%;
    height: auto;
    max-width: 449px;
    object-fit: cover;
}

.text-home {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
}


.first {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin: 0;
    margin-bottom: 42px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.first span {
    color: #499A18;
}

.second {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin: 0;
    margin-bottom: 62px;
}

.btnforsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn1 {
    background: none;
    border: 2px solid rgba(224, 103, 51, 1);
    border-radius: 10px;
    padding: 14px 26px;
}

.btn1 span {
    text-transform: uppercase;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-rendering: auto;
    text-align: start;
    color: #000000;
}

/* section-about */

.section-about {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 93px auto;
}

.about-container img {
    width: 40%;
    height: auto;
    max-width: 464px;
    object-fit: cover;
    object-position: bottom;
}


.text-about {
    display: flex;
    flex-wrap: wrap;
    max-width: 605px;
}

.third {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: rgba(73, 154, 24, 1);
    margin: 0;
    margin-bottom: 40px;
}

.third span {
    color: rgba(224, 103, 51, 1);
}

.fourth {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    margin: 0;
}

/* service-section */
.section-service {
    display: flex;
    justify-content: center;
    background-color: rgba(237, 242, 236, 1);
}

.service-container {
    display: flex;
    flex-wrap: wrap;
}

.services-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 40px 0 90px;
    align-items: flex-start;
}

.fifth {
    display: flex;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    max-width: 306px;
    margin: 0;
    margin-right: 142px;
}

.service-button {
    display: flex;
    margin-top: 29px;
}


.btn2,
.btn3,
.btn4 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    padding: 12px 40px;
    margin-right: 38px;
    background: transparent;
    border: 1px solid #E06733;
    border-radius: 5px;
}

.btn3 {
    padding: 12px 54px;
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover {
    opacity: 0.75;
}

.services {
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.first-service,
.second-service,
.forth-service,
.fifth-service {
    margin: 0;
    margin-right: 116px;
    margin-bottom: 55px;
}

.third-service,
.sixth-service {
    margin-bottom: 55px;
}

.services img {
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
    vertical-align: bottom;
}

.about-services {
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    margin: 0;
    padding: 0;

}

.about-services h3 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    margin: 10px 0;
    text-align: center;
}

.about-services p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    text-align: center;
    margin: 0;
    margin-bottom: 36px;
}


/* Price-container */
.section-price {
    display: flex;
    margin: auto;
    justify-content: center;
}

.price-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 40px 0 129px 0;
    max-width: 1222px;
    width: 100%;
}

.prices {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.prices h2 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}

.btnprices {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 34px 41px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    max-width: 332px;
    width: 100%;
}

.accourdion1,
.accourdion2,
.accourdion3 {
    position: relative;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    background: #EDF2EC;
    border-radius: 20px;
    padding: 16px 54px 16px 40px;
    border: none;
    margin-bottom: 32px;
    width: 250px;
    height: 50px;
    text-align: start;
    margin-right: 0;
}

.accourdion3:last-child {
    margin: 0;
}

.accourdion1::before,
.accourdion2::before,
.accourdion3::before {
    content: "";
    position: absolute;
    background-image: url(./Images/svg/accordion_btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    width: 18px;
    height: 18px;
    right: 40px;
}

.text-callus {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
}

.text-callus h2 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    margin: 0;
    margin-bottom: 38px;
    max-width: 452px;
    width: 100%;
}

.text-callus span {
    color: rgba(73, 154, 24, 1);
}

.btn5 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    padding: 12px 30px;
    margin: 0;
    margin-bottom: 39px;
    width: 162px;
    height: 50px;
    text-align: center;
    background: none;
    border: 1px solid #E06733;
    border-radius: 5px;
    align-items: end;
}

.btn5:hover {
    opacity: 0.75;
}

.text-callus img {
    width: 152px;
    height: 175px;
}

/* Contact us container */
.section-contacts {
    background: #EDF2EC;
    display: flex;
    justify-content: center;
}

.contacts-container {
    display: flex;
}

.contactsus-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    margin-top: 53px;
}

.contactsus-container img {
    max-width: 400px;
    width: 100%;
}

.contactsus-container h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin: 0;
    margin-top: 26px;
}

.btncontacts {
    margin-top: 77px;
    max-width: 450px;
    width: 100%;
}

.accourdion4 {
    border-style: none;
    position: relative;
    width: 100%;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
    text-align: start;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    margin: 0;
    padding: 5px 35px 5px 20px;
}

.accourdion4::before {
    content: "";
    position: absolute;
    background-image: url(./Images/svg/accordion_btn_contacts.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    right: 34px;
    top: 16px;
}


/* footer */
.footer-container {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 182px;
}

.left div {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.center {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 211px;
}

.center div {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.right {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 188px;
}

.left a,
.center a {
    text-decoration: none;
    color: #000000;
}

footer a:hover {
    color: #E06733;
}

.twittersvg {
    margin-top: 7px;
}

.instagramsvg,
.facebooksvg,
.twittersvg,
.pinterestsvg {
    fill: black;
}

.instagramsvg:hover,
.facebooksvg:hover,
.twittersvg:hover,
.pinterestsvg:hover {
    fill: #E06733;
}

/* End main css */

/* Adaptive  */
@media screen and (min-width: 768px) and (max-width: 1220px) {
    .containerr {
        max-width: 668px;
    }

    /* header */
    .header-link img {
        height: 20px;
        width: 20px;
    }

    .header-wrapper {
        padding: 35px 50px;
        margin: 0;

    }

    /* main */
    .home-container {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .home-container img {
        max-width: 280px;
        margin: 0;
    }

    .text-home {
        max-width: 346px;
    }

    .first {
        font-size: 35px;
    }

    .second {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    /* section-about */
    .about-container {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }

    .about-container img {
        max-width: 250px;
        margin: auto;
        margin-bottom: 95px;
    }

    .text-about {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .third {
        text-align: center;
        font-size: 35px;
        line-height: 46px;
    }

    /* section-service */
    .services-container {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .fifth {
        font-size: 35px;
        line-height: 46px;
        margin-bottom: 40px;
    }

    .service-button {
        display: flex;
    }

    .btn4:last-child {
        margin-right: 0;
    }

    .services {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .first-service,
    .third-service,
    .fifth-service {
        margin-right: 106px;
        margin-bottom: 38px;
    }

    .second-service,
    .forth-service,
    .sixth-service {
        margin-right: 0;
        margin-bottom: 38px;
    }

    .services img {
        width: 280px;
    }

    .about-services {
        width: 280px;
    }

    .about-services p {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 40px 20px;
    }

    /* section-price */
    .price-container {
        margin-top: 40px;
        margin-bottom: 88px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .prices h2 {
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 50px;
        /* display: none; */
    }

    .text-callus {
        max-width: 296px;
    }

    .text-callus h2 {
        font-size: 25px;
        line-height: 35px;
    }

    /* section-contact */
    .contactsus-container {
        flex-direction: column-reverse;
        align-items: center;
        margin: auto;
        margin-top: 40px;
    }

    .contactsus-container h2 {
        order: 1;
        margin: 0;
        margin-bottom: 100px;
    }

    .btncontacts {
        margin: 0;
    }

    .contactsus-container img {
        max-width: 200px;
        width: 100%;
    }

    .accourdion4 {
        margin-bottom: 250px;
    }

    /* section-footer */
    .footer-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    body {
        min-width: 320px;
    }

    .containerr {
        width: 330px;
    }

    .menu-btn {
        display: flex;
        justify-content: end;
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
    }

    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(113, 113, 113, 1);
        transition: all 0.5s;
    }

    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .menu-btn span:nth-of-type(4) {
        top: calc(50% + 10px);
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #FFFFFF;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    .nav.active {
        transform: translateX(0);
        display: block;
    }

    .header-wrapper {
        justify-content: space-around;
    }

    /* home-container */
    .home-container {
        margin: 24px auto;
    }

    .leaf-home {
        display: none;
    }

    .text-home {
        max-width: 330px;
    }

    .first {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .about-container {
        margin: 30px auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .second {
        margin-bottom: 20px;
    }

    .btn1 {
        display: block;
        float: left;
        font-size: 10px;
        line-height: 20px;
        padding: 8px 18px;
        text-align: center;
        align-items: center;
    }

    .third {
        font-size: 25px;
        line-height: 33px;
        margin-bottom: 20px;
    }

    .fourth {
        font-size: 15px;
        line-height: 25px;

    }

    .text-about {
        margin: 30px 25px 0;
    }

    .houseplant {
        width: 150px;
        height: 150px;
        margin: 0 115px 30px;
    }

    .services-container {
        margin-top: 30px;
        margin-bottom: 38px;
        flex-wrap: wrap;
        width: 252px;
        justify-content: flex-start;
        align-items: center;
    }

    .service-button {
        flex-wrap: wrap;
        margin: 0;
    }

    .fifth {
        font-size: 25px;
        line-height: 33px;
        margin: 0;
        margin-bottom: 35px;
    }

    .btn2,
    .btn3,
    .btn4 {
        display: block;
        float: left;
        font-size: 15px;
        line-height: 20px;
        padding: 8px 28px;
        width: 121px;
        height: 35px;
        margin-right: 10px;
        margin-bottom: 9px;
    }

    .btn3 {
        width: 45%;
        margin-right: 0;
    }

    .btn4 {
        margin-right: 0;
        margin-bottom: 0;
        width: 45%;
    }

    .services {
        margin: 0;
    }

    .services img {
        max-width: 279px;
    }

    .first-service,
    .second-service,
    .third-service,
    .forth-service,
    .fifth-service,
    .sixth-service {
        max-width: 280px;
        margin: auto;
        margin-bottom: 34px;
    }

    .sixth-service {
        margin-bottom: 27px;
    }

    .about-services {
        max-width: 279px;
    }

    /* price-conrainer */
    .price-container {
        margin: 0;
        flex-direction: column;
    }

    .prices {
        margin: 25px auto;
        margin-bottom: 19px;
        justify-content: center;
    }

    .prices h2 {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 40px;
    }

    .btnprices {
        display: block;
        float: left;
        width: 224px;
        height: 235px;
        padding: 27px 22px;
    }

    .accourdion1,
    .accourdion2,
    .accourdion3 {
        /* display: block; */
        width: 180px;
        font-size: 15px;
        float: left;
        width: 180px;
        height: 50px;
        margin-bottom: 14px;
    }

    .accourdion1::after,
    .accourdion2::after,
    .accourdion3::after {
        left: 140px;
    }

    .text-callus {
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;
        margin: auto;
        max-width: 230px;
    }

    .text-callus h2 {
        font-size: 20px;
        line-height: 35px;
        text-align: center;
    }

    .btn5 {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
        padding: 8px 22px;
        margin-bottom: 40px;
    }

    .text-callus img {
        display: none;
    }


    /* contacts-container */
    .contactsus-container {
        margin: 25px auto;
        margin-bottom: 0;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column-reverse;
    }

    .contactsus-container h2 {
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        margin: 0;
        order: 1;
    }

    .contactsus-container img {
        width: 100px;
        height: 125px;
        align-items: center;
    }

    .btncontacts {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .accourdion4 {
        width: 300px;
        height: 50px;
        font-size: 20px;
        padding: 5px 76px 5px 20px;
        margin-top: 80px;
        margin-bottom: 132px;
    }

    .accourdion4::before {
        right: 25px;
    }


    /* footer  */
    .footer-container {
        margin: 22px auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}