* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #2C3E50;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 25px;
}

.main {
    border-bottom: auto;
}

.main-title.section-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #F1C40F;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 50px;
    word-spacing: 4px;
}

.main-title.section-title::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 2px;
    background-color: #F39C12;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header {
    background-color: #C0392B;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    position: relative;
    padding: 0 15px;
    line-height: 50px;
    font-weight: 300;
    text-decoration: none;
    color: #F1C40F;
    transition: .3s;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #F39C12;
    opacity: 0;
    transition: .5s;
}

.nav-link:hover::after {
    opacity: 0.8;
    animation-name: nlink;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes nlink {
    from {
        width: 0;
    }

    to {
        width: calc(100% - 24px);
    }
}


.section {
    width: calc(50% - 10px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #C0392B;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 10px solid #D35400;
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

.section-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.section-item {
    position: relative;
    padding: 0;
    padding-left: 30px;
    margin: 0;
    margin-bottom: 10px;
    list-style: none;
}

.section-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 15px;
    height: 15px;
    background-image: url("./Icon/item.png");
    background-size: 14px 14px;
    /* list-style: circle;
    border: 1px solid #829985;
    border-radius: 50%; */
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #c03a2b97;
}

.section-subtitle {
    margin-top: 15px;
    color: #c03a2b97;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}

.section a {
    text-decoration: none;
    color: #c03a2b97;
    transition: 0.5s;
}

.section a:hover {
    color: #C0392B;
}

.section-item span,
p span {
    color: #C0392B;
}

.section-profile-logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    filter: brightness(90%) contrast(60%);
    transition: .3s;
    image-rendering: pixelated;
}

.section-profile-logo:hover {
    filter: saturate(110%) brightness(100%) contrast(100%);
    box-shadow: none;
}


@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}


#english, #education {
    border-bottom: none;
}

.contacts-item::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
}


.contacts-item:nth-child(1)::before {
    top: 5px;
    background-image: url("./Icon/location.svg");
}

.contacts-item:nth-child(2)::before {
    top: 5px;
    left: 1px;
    width: 15px;
    height: 15px;
    background-image: url("./Icon/email.svg");
}

.contacts-item:nth-child(3)::before {
    top: 5px;
    left: 1px;
    width: 15px;
    height: 15px;
    background-image: url("./Icon/github.svg");
}

.contacts-item:nth-child(4)::before {
    top: 5px;
    left: 1px;
    width: 15px;
    height: 15px;
    background-image: url("./Icon/telegram.svg");
}

.contacts-item:nth-child(5)::before {
    top: 5px;
    left: 1px;
    width: 15px;
    height: 15px;
    background-image: url("./Icon/discord.svg");
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #C0392B;
    padding: 0 20px;
    align-items: center;
}

/* .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
} */